<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About A Rand Site</title>
</head>
<body>
    {{>header}}
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae dolorem quidem adipisci? Deleniti rem ea eos dolorem distinctio quis. Molestiae dolores recusandae fuga adipisci quo ab harum minus? Nobis, dolorem.</p>
    {{>footer}}
</body>
</html>